<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chisom.igboamaka">

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_igbo_amaka_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_igbo_amaka_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.chisom.igboamaka.home.family.FamilyActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities">
        </activity>
        <activity
            android:name="com.chisom.igboamaka.home.bodyparts.BodyPartsActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.funfacts.states.StateActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.funfacts.proverbs.ProverbsActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.funfacts.dressing.DressingActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.funfacts.names.NamesActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.funfacts.food.FoodActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.home.household.HouseHoldActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.home.sentences.SentencesActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.home.animals.AnimalActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.home.alphabets.AlphabetsActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.home.colors.ColoursActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.home.numbers.NumbersActivity"
            android:parentActivityName="com.chisom.igboamaka.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Activities" />
        <activity
            android:name="com.chisom.igboamaka.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chisom.igboamaka.MainActivity" />
    </application>

</manifest>